<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span> <mat-icon class="example-icon">brightness_2</mat-icon> </span>
    <span> <mat-icon class="example-icon">wb_sunny</mat-icon> </span>
    <span class="example-spacer"></span>

    <a  mat-icon-button aria-label="Twitter Icon" href="https://twitter.com/vikramKadiam" target="_blank" rel="noreferrer">
      <mat-icon class="example-icon" svgIcon="twitter"></mat-icon>
    </a>

    <a  mat-icon-button aria-label="LinkedIn Icon" href="https://www.linkedin.com/in/vikram-kadiam/" target="_blank" rel="noreferrer">
      <mat-icon class="example-icon" svgIcon="linkedin"></mat-icon>
    </a>

    <a  mat-icon-button aria-label="Github Icon" href="https://github.com/KVikram" target="_blank" rel="noreferrer">
      <mat-icon class="example-icon" svgIcon="github"></mat-icon>
    </a>

    <a  mat-icon-button aria-label="Stackoverflow Icon" href="https://stackoverflow.com/users/4316707/ngcoder?tab=profile" target="_blank" rel="noreferrer">
      <mat-icon class="example-icon" svgIcon="stackoverflow"></mat-icon>
    </a>

  </mat-toolbar-row>
</mat-toolbar>