.small-info {
	font-size: 20px;
	padding-left: 10px;
}

.text-break {
	word-break: normal;
}

@media only screen and (max-width: 370px) {
	.text-break {
		word-break: break-word;
	}
}

@media only screen and (max-width: 400px) {
	.mat-card-header .mat-card-title {
		font-size: 15px;
	}
}