/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

html,
body {
	height: 100%;
	margin: 0;
}

/* html,
body {
	margin: 0;
	font-family: "Source Code Pro", monospace;
} */

/* To make curosr pointer for mat icons */
mat-icon {
	cursor: pointer;
}

/*
Crazy root hack to keep gap/padding between
mat-step-icon & mat-step-label in the timeline.component.html
NOTE: It won't work unless it's in root css..!  
*/
.mat-step-header .mat-step-label {
	padding-left: 12px;
}

/* Skip link css which we don't wanna showw unless user tries */
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #000000;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

/* Creates empty space between two items */
.empty-spacer {
	flex: 1 1 auto;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
	background: #000;
	opacity: 0.85 !important;
	animation: dark 2s infinite;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.white-backdrop {
	background: rgb(240, 217, 9);
	opacity: 0.85 !important;
	animation: light 2s infinite;
}

@keyframes light {
	from {
		background-color: #000;
	}

	to {
		background-color: rgb(240, 217, 9);
	}
}

@keyframes dark {
	from {
		background-color: rgb(240, 217, 9);
	}

	to {
		background-color: #000;
	}
}

/* Make links more sweet with the theme */

#footer a:link,
#summary a:link {
	color: #000000;
}

#footer a:visited,
#summary a:visited {
	color: #000000;
}

#footer a:hover,
#summary a:hover {
	color: #000000;
	background-color: #00e676;
}

#footer a:active,
#summary a:active {
	color: #000000;
}