@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config($font-family: '"Source Code Pro", monospace;',
);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mybrand-app-primary: mat-palette($mat-green, A400);
$mybrand-app-accent: mat-palette($mat-grey, 800, A100, A400);
$mybrand-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mybrand-app-theme: mat-light-theme($mybrand-app-primary,
	$mybrand-app-accent,
	$mybrand-app-warn);

// .mybrand-light-theme {
// 	@include angular-material-color($mybrand-app-theme);
// }

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mybrand-app-theme);

$mybrand-app-dark-primary: mat-palette($mat-green);
$mybrand-app-dark-accent: mat-palette($mat-grey, A200, A100, A400);
$mybrand-app-dark-warn: mat-palette($mat-deep-orange);
$mybrand-app-dark-theme: mat-dark-theme($mybrand-app-dark-primary,
	$mybrand-app-dark-accent,
	$mybrand-app-dark-warn);

.mybrand-dark-theme {
	@include angular-material-color($mybrand-app-dark-theme);
}

.light-primary-background {
	background-color: mat-color($mybrand-app-primary, default);
	color: black;
}

.dark-primary-background {
	background-color: mat-color($mybrand-app-dark-primary, default);
	color: black;
}