<div class="flex-container"
	 fxLayout="column"
	 fxLayoutAlign="space-between"
	 id="summary">
	<!-- About section -->
	<mat-card>
		<mat-card-header>
			<!-- <div mat-card-avatar
			 [ngStyle]="{'background-image': 'url(' + aboutInfo.picture + ')', 'background-size': 'cover'  }">
			</div> -->
			<div mat-card-avatar
				 class="profile-header-image">
			</div>
			<mat-card-title>
				<span matBadge="VK"
					  matBadgeOverlap="false"
					  matBadgeColor="primary">{{aboutInfo?.name}}
				</span>
			</mat-card-title>
			<span>
				<mat-icon matTooltip="Share it"
						  matTooltipPosition="below"
						  class="share-icon"
						  (click)="openShareSheet()">share</mat-icon>
			</span>
			<span class="empty-spacer"></span>

			<mat-card-subtitle>{{ aboutInfo?.label }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<!-- <p>{{ aboutInfo?.summary }}</p> -->
			<p [innerHTML]="aboutInfo?.summary">
			</p>

			<!-- <div class="space">
				<p>My favourite thing to spend time is contributing to online developer community,
					whenever I find time from my work I spend my time on Stackoverflow answering problems.</p>
				<a href="https://stackoverflow.com/users/4316707/ngcoder"
				   rel="nofollow noopener noreferrer"><img [src]="soThemeURL"
						 alt="profile for ngCoder @ SO" /></a>
			</div>
			<div class="space">
				<p> I also write blogposts about Angular Js and Eclipselink ORM
					<a href="https://ngcoderscope.wordpress.com/"
					   aria-label="site link"
					   target="_blank"
					   rel="nofollow noopener noreferrer">@ngcoderscope</a>. I'm planning to start writing about software design patterns and more about Angular.
				</p>
			</div> -->
		</mat-card-content>

	</mat-card>

	<!-- Projects section -->
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Projects
			</mat-card-title>
			<mat-card-subtitle>
				<a href="https://github.com/KVikram"
				   target="_blank"
				   rel="nofollow noopener noreferrer">GitHub</a>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-card *ngFor="let project of projects">
				<mat-card-header>
					<mat-card-title>
						{{project?.displayName}}
					</mat-card-title>
					<mat-card-subtitle>
						<a mat-icon-button
						   aria-label="Github Icon"
						   href="{{project?.githubUrl}}"
						   target="_blank"
						   rel="nofollow noopener noreferrer">
							<mat-icon class="example-icon"
									  svgIcon="github"></mat-icon>
						</a>
						<a *ngIf="project?.website"
						   mat-icon-button
						   aria-label="Launch Icon"
						   href="{{project?.website}}"
						   target="_blank"
						   rel="nofollow noopener noreferrer">
							<mat-icon class="example-icon">launch</mat-icon>
						</a>
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<p>{{project?.summary}}</p>
					<mat-chip-list aria-label="Project languages">
						<mat-chip *ngFor="let lang of project?.languages"
								  color="accent"
								  aria-label="language"
								  selected>{{lang}} </mat-chip>
						<mat-chip *ngFor="let lib of project?.libraries"
								  color="accent"
								  aria-label="library"
								  selected>{{lib}} </mat-chip>
					</mat-chip-list>
				</mat-card-content>
			</mat-card>
		</mat-card-content>
	</mat-card>

	<!-- Education section -->
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				{{eduInfo?.area}}
			</mat-card-title>
			<mat-card-subtitle>
				<a href="{{eduInfo?.website}}"
				   target="_blank"
				   rel="nofollow noopener noreferrer">{{eduInfo?.institution}}</a>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>{{eduInfo?.description}} </mat-card-content>
	</mat-card>

	<!-- Contact section -->
	<mat-card class="middle">
		<mat-card-header>
			<mat-card-title>Let's talk.Ping me on
				<a aria-label="Twitter link"
				   href="https://twitter.com/vikramKadiam"
				   target="_blank"
				   rel="nofollow noopener noreferrer">
					Twitter</a>
				or
				<a aria-label="LinkedIn link"
				   href="https://www.linkedin.com/in/vikram-kadiam/"
				   target="_blank"
				   rel="nofollow noopener noreferrer">
					LinkedIn</a>
			</mat-card-title>
			<mat-card-subtitle>Wanna talk Tech? Liked my profile? or my site? or Just drop in to say Hi!</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</div>