.profile-header-image {
  /* background-image: url('src/assets/images/65C29B51-65C3-401C-A656-828D9C7ABB1F_1_105_c.jpeg'); */
  background-image: url('https://avatars0.githubusercontent.com/u/8777907?s=60&v=4');
  background-size: cover;
}

/* .profile-card-bg{
    background-color: rgba(1, 39, 11, 0.73);
  } */

.share-icon {
  padding: 0 14px;
}

/* .space {
  margin: 10px 0;
} */

.middle {
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
}