.home{
    height: 100%;
}

.add-bg-img{
    background-image: url('src/assets/images/6FA036AA-EC2C-4FAF-A37D-8E2C3DAB5CE8.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

/* For larger devices */
@media only screen and (min-width: 1080px) {
    .add-bg-img{
        background-image: url('src/assets/images/6FA036AA-EC2C-4FAF-A37D-8E2C3DAB5CE8.jpeg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    
    }
}